#wrap{
  display: none;
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

#window{
  width: 400px;
  height: 400px;
  margin: 50px auto;
  display: none;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
}

.close{
  margin-left: 364px;
  margin-top: 4px;
  cursor: pointer;
}


#window input, textarea { 
  margin-left: 20px;
  margin-top: 15px;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  display: block; 
  width: 300px; 
  padding: .4em;
}

#window textarea {
 margin-left: 20px;
 margin-top: 40px;
 height: 80px; 
 resize: none; 
}

#window input[type=submit]{
  display: inline-block;
  padding:0;
  width: 80px; 
  height: 25px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 20px;
}
#window input[type=reset]{
  display: inline-block;
  padding:0;
  width: 80px; 
  height: 25px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 20px;


}