.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 1300px;
    margin: 0 auto;
    /*margin-left: 80px;*/
}

div{
  box-sizing: border-box;
}

/* HEADER STYLES
––––––––––––––––––––––––––––––––––––––––––––––––––----------------- */
header{
   	background-color: #E6E6E6;
    height: 100px;
}

.header_nav button,input{
  display: inline-block;
}

.header_nav{
	margin-top: 50px;
}

.search{
	margin-left: 700px;
}

.calendar_nav button,p{
  display: inline-block;
  margin: 10px;
}



#previous_m, #next_m {
  width: 25px;
  height: 25px;
}

.calcalendar_nav


.calendar_nav{
  margin-top: 20px;
}



table {
  border-collapse: collapse;
  width: 100%;
}

tbody td {
  height: 100px;
  width: 100px;	
  border: 1px solid grey;
  padding: 5px; /* Поля в ячейках */
  vertical-align: top;
}

.today{
  background-color: grey;
}





