$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

@import './about.scss';
@import './animate.scss';
@import './animation.scss';
@import './style.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

