
/* Happy Clients
---------------------------------*/



#clients {
    padding: 60px 0px;
}

.client_area {
    width: 960px;
    margin: 0px auto;
}

.client_section {
    padding: 35px 0 0 0;
}

.client_section.btm {
    padding: 20px 0 0 0;
}

.client_profile {
    float: left;
    text-align: center;
}

.client_profile.flt {
    float: right;
}

.client_profile_pic {
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    margin: 0 0 15px 0;
    width: 220px;
    height: 220px;
}

.client_profile_pic img {
    border-radius: 50%;
    border: 3px solid #f5f5f5;
}

.client_profile h3 {
    font-size: 18px;
    color: #49b5e7;
    margin: 0 0 0 0;
}

.client_profile span {
    display: block;
    font-size: 16px;
    color: #888888;
}

/* Clients
---------------------------------*/


.client_logos {
    background: #CE1139;
    padding: 60px 0;
    margin-top: 60px;
}

.client_logos ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.client_logos ul li {
    display: inline;
    margin: 0 25px;
}

.client_logos ul a {
    display: inline-block;
    margin: 0 20px;
}

.page_section.team {
    padding: 60px 0;
}

.page_section.team h6 {
    margin-bottom: 40px;
}